#drawar_avatar_img {
    width: 100px !important;
    height: 100px !important;
}

.hide {
    display: none !important;
}

.watermark-date {
    font-size: 10px !important;
}

.st-item {
    margin-bottom: 26px !important;
}

.font-red {
    color: red !important;
}

.profile {
    width: 200px !important;
    height: 200px !important;
}